.aboutMeTitle {
    color: black;
    padding: 5%;
    font-size: 6vw;
}

.aboutMeContent {
    padding: 7%;
}

.aboutMeImage {
    width: 70%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}