.contactsContainer {
    background-color: black;
    border-style: solid;
    border-color: black;
    border-width: 1.5vw;
}

.contactsText {
    color: white;
    font-size: 15px;
    text-align: center;
    border-top: 5vw solid black;
}