@import url('https://fonts.googleapis.com/css?family=Roboto');

.introContainer {
    position: relative;
    height: 50vw;
}

.introImage {
  width: 100%; /* width of container */
  height: 100%; /* height of container */
  object-fit: cover;
}

.introText {
    position: absolute;
    top: 5%;
    left: 5%;
    color: black;
  }

.introTextHello {
    color: black;
    font-size: 6vw;
  }

.introTextName {
    color: black;
    font-size: 6vw;
  }

.introTextTitle {
  color: black;
  font-size: 3vw;
}

body {
  font-family: 'Roboto';font-size: 22px;
}